@import "bourbon/bourbon";
@import "base/base";
@import "neat/neat";

$base-background-color: #fff;
$max-width: 100%;

body {
  background: $base-background-color;
  margin: 0;
  padding: 0;
}

#container {
  @include outer-container;
}

@import "browser";
@import "bullets";
@import "comments";
@import "device";
@import "geometric_typography";
@import "hover_tile";

@import "breadcrumb";
@import "flashes";
@import "footer";
@import "hero";
@import "nav";

$hero-base-background-color: #3db1ff;
.hero {
  position: relative;
  height: 28em;
  height: 81vh;
  padding: $gutter;
  margin-bottom: 5em;
  background-image: none;
  background-color: $hero-base-background-color;
  background-size: auto,auto,100% 1000px,100% 1000px;
  @include background-image(
    radial-gradient(0% bottom,rgba(lighten(adjust-hue($hero-base-background-color, 15%), 15%),.7) 0, rgba(lighten(adjust-hue($hero-base-background-color, 15%), 15%),0) 60%),
    radial-gradient(90% bottom,rgba(darken($hero-base-background-color, 25%),0) 0,rgba(lighten(adjust-hue($hero-base-background-color, 25%), 10%), 0) 40%),
    radial-gradient(50% top,rgba(lighten(adjust-hue($hero-base-background-color, -25%), 20%),.6) 0,rgba(lighten(adjust-hue($hero-base-background-color, -25%), 20%),0) 75%),
    radial-gradient(right top,lighten($hero-base-background-color, 30%) 0, rgba(lighten($hero-base-background-color, 30%), 0) 57%)
  );

  .hero-inner {
    position: absolute;
    width: 100%;
    margin: auto;
    left: 0;
    right: 0;
    max-width: em(700);
  }

}
